<center style="font-size:80%;border-top: 1px solid lightgray;padding-top: 15px;color: #636567;">
    <div>You are receiving this email because you have an account on scalable-learning.com</div>
    <%= link_to "Change your email preferences", $frontend_host+course_information, :target => '_blank' %> - <%= link_to "Privacy", $frontend_host+"privacy", :target => '_blank' %><br>
    <%= mail_to "support@scalable-learning.com"%><br>
    <span>© 2018 <strong>Scalable </strong><span style="color:green">Learning </span> – RISE SICS AB, Box 1264, SE-164 29 Kista, Sweden</span>
</center>