<center style="font-size:80%;border-top: 1px solid lightgray;padding-top: 15px;margin-top:15px; color: #636567;">
    <div><%=t('user_mailer.you_are_recieving_mail')=%></div>
    <% if @course %>
    <% url = role == "teacher"? $frontend_host+"courses/#{@course.id}/information" : $frontend_host+"courses/#{@course.id}/course_information"%>
    <%= link_to t('user_mailer.change_mail_preferences'), url, {:style=>'color:#636567', :target=> '_blank'}%> <br>
    <% end %>
    <%= mail_to "support@scalable-learning.com","support@scalable-learning.com",{:style=>'color:#636567'}%> - 
    <%= link_to t('user_mailer.privacy'), $frontend_host+"privacy", {:style=>'color:#636567', :target=> '_blank'} %><br>
    
    <span>© Copyright 2020 ScalableLearning — RISE Research Institutes of Sweden AB, Box 1264, SE-164 20 Kista, Sweden</span>
</center>