  	
    <h3><%= t('user_mailer.new_announcement',{teacher_name:@course.user.name, course_name:@course.name})%> </h3>
    <p>
      <%= raw @announcement.announcement %>
    </p>
    <%= render partial: 'thank_you_footer' %>
    <%= render partial: 'footer', locals: {role:"student"}%>
    
