<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p> Dear <%= @user.name %>,</p>
    <p>
        Your account on ScalableLearning has been pseudonymized. 
        This means that we no longer retain personally identifiable information about your account 
        (email, user name, online name) and cannot contact you via email.
    </p>
    <p>
        If you would like to recover or completely delete your account, 
        simply login again with your account's original email address.
    </p>

    <p>Thank you for using ScalableLearning,</p>
    <p>The ScalableLearning Team</p>
  </body>
</html>
