<p>
  Your account on ScalableLearning has been inactive for a year. In following our <%= link_to "privacy policy", $frontend_host+"privacy"%>, 
  we will psudonymize your account to remove personally identifiable information in one week.
</p>
<p>
    If you would like to keep your account active, please login again in the next week.
    If you would like to delete your data entirely, please login and delete your account.
    If you do nothing, your account will be psudonymized in one week. Once your account is 
    psudonymized we will no longer be able to contact you, but you can recover your account by logging in again.
</p>

<%= render partial: 'thank_you_footer' %>
<%= render partial: 'footer' %>

