<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p> Dear <%= @user.name %>,</p>
    <p>Your account on ScalableLearning has been inactive for a year. If you would like to keep your account active, please simply login. If you do nothing, 
        your account will be pseudoanonymized to protect your privacy. 
        This means we will encrypt your name and email address. If you later wish to recover your 
        account you can do so by simply logging in and recovering your password.
    </p>
    <p>
        If you would like to delete your data entirely, simply login and delete your account.
    </p>

    <p>Sincerely,</p>
    <p>The ScalableLearning Team</p>
  </body>
</html>
