<p>You have successfully changed your password for your ScalableLearning account.
If this was not you, please contact us at <%= mail_to "support@scalable-learning.com"%>.</p>
<%= render partial: 'thank_you_footer' %>
<%= render partial: 'footer' %>
