<p>You have successfully changed your password.</p>
<br />
<p>The password for the ScalableLearning account was just changed.</p>
<p>If this was you, then you can safely ignore this email.</p>
<p>If this wasn't you, Please go to feedback under help menu and fill feedback forum</p>
<p> The ScalableLearning Team</p> 
<%= render partial: 'footer', locals:{course_information_url:"coursessssss"} %>