
<p><%= t('user_mailer.here_is_your_progress_exported_data', {course_name: @course_short_name, today: @today})%></p>
<%= render partial: 'thank_you_footer' %>
<%= render partial: 'footer', locals: {role:"teacher"} %>