<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p> Dear <%= @user_name %>,</p>
    <p>
        Here are the video events for the module <strong><%= @group_name %></strong> in your course <strong ><%= @course_name%> </strong>from ScalableLearning. 
        The data is provided in a comma-separated-value file, which can be opened by any spreadsheet program, such as Excel. 
        In the file you will find a list of all events for the module, 
        together with the time at which they occurred and the type of event.
    </p>
    <p>
        If you have any questions, please feel free to get in touch by choosing Support from the Help menu.
    </p>

    <p>Cheers,</p>
    <p>The ScalableLearning Team</p>
  </body>
</html>
